<div class="grid_8">
	<h1>You've got lots of ideas!</h1>
</div>
<div class="grid_4">
	<%= link_to "Begin idea", new_idea_path, :class => "begin_idea" %>
</div>
<div class="clear"></div>

<div class="grid_12 dotted_line_small"></div>

<div class="grid_8">
	
	<% if @ideas.count == 0 %>
		<%= render :partial => "welcome" %>
	<% elsif @ideas.count <= 3 %>
		<div class="message_box">... but you've only added <%= @ideas.count %> of them. Click <%= link_to "Begin idea", new_idea_path, :class => "font_color1" %> to jot down your thoughts.</div>
	<% end %>
	
	<ul class="idea_list">
	<% @ideas.each_with_index do |idea, i| %>
		<li>
			<% c = idea.is_owner?(@current_user) ? "owner" : "collaborator" %>
			<%= link_to idea.name, idea_url(idea), :class => c %>
			<%= render :partial => "collaborations/list", :locals => { :show_private => true, :users => idea.users }%>
		</li>
	<% end %>
	</ul>
</div>
<div class="grid_4" id="sidebar">
	<h2>What is an idea?</h2>
	<p class="quote">"The patterns are simple, but followed together, they make for a whole that is wiser than the sum of its parts. Go for a walk; cultivate hunches; write everything down, but keep your folders messy; embrace serendipity; make generative mistakes; take on multiple hobbies; frequent coffeehouses and other liquid networks; follow the links; let others build on your ideas; borrow, recycle; reinvent. Build a tangled bank."</p>
	<p class="quoter">- Steven Johnson</p>
</div>
<div class="clear"></div>