<div class="grid_8">

	<h1>Welcome <%= @current_user.email %></h1>
	<p>You have <%= @current_user.ideas.count %> ideas</p>
	

	<ul>
	<% for idea in @current_user.ideas %>
		<li><%= link_to idea.name, idea_url(idea) %></li>
	<% end %>
	</ul>

</div>
<div class="grid_4">
	
	<p><%= link_to "Create a new idea", new_idea_path, :class => "link_button" %></p>
	<p>You have <%= link_to @current_user.invites_left, user_invites_path(@current_user) %> invites left</p>
	
</div>
</div class="clear"></div>