<div class="grid_8">
	
	<h1><%= @idea.name %></h1>
	
	<% for content in @repo.tree.contents %>
		<%= content.name %><br />
	<% end %>
	
	<div id="media_box">
		<ul>
			<li><%= link_to "Insert Link", new_idea_link_path(@idea)%></li>
		</ul>
		<div class="clear"></div>
	</div>
	
</div>
<div class="grid_4">
	
	<p>Num commits: <%= @repo.commits.count %></p>
	
	<p>Parents: <%= @repo.commits.first.parents.inspect %></p>
	<p>Log: <%#= @repo.log %></p>
</div>
<dic class="clear"></div>