<div class="grid_8">
	
	<h1><%= @idea.name %></h1>
	
	<% @idea.current_version.each_with_index do |content, i| %>
		<% if i == 0 %>
			<%= render :partial => "texts/description", :locals => {:text => content} %>
			<div id="media_box">
				<ul>
					<li><%= link_to "Insert Link", new_idea_link_path(@idea)%></li>
					<li><%= link_to "Insert Text", new_idea_text_path(@idea)%></li>
					<li><%= link_to "Upload Image", new_idea_image_path(@idea) %></li>
				</ul>
				<div class="clear"></div>
			</div>
		<% else %>
			<%= render content, :locals => {:edit => true} %>
		<% end %>
	<% end %>
	
</div>
<div class="grid_4">
	
	<% num_commits = @idea.num_commits %>
	
	<p>Versions: <%= num_commits %></p>
	
	<ul>
	<% @idea.repository.commits.each_with_index do |commit, i| %>
		<li><%= link_to num_commits - i, show_version_path(@idea, num_commits - i) %></li>
	<% end %>
	</ul>
	
</div>
<dic class="clear"></div>