<div class="grid_12">
	<h1><%= @idea.name %></h1>
</div>
<div class="clear"></div>

<div class="grid_12 dotted_line_small"></div>
<div class="grid_9">

	<% @idea.version(@version, @branch).each_with_index do |content, i| %>
		<% if i == 0 %>
			<%= render :partial => "texts/description", :locals => {:text => content, :edit => @edit} %>
			<%= render(:partial => "ideas/mediabox", :locals => {:idea => @idea, :branch => @branch}) if @edit %>
		<% else %>
			<%= render :partial => content.class.name.pluralize.downcase + "/" + content.class.name.downcase, 
									:locals => { content.class.name.downcase.to_sym => content, :edit => @edit} %>
		<% end %>
	<% end %>
	
</div>
<div class="grid_3">
	
	<h2>Branches</h2>
	<ul id="branch_box">
		<% @idea.repository.heads.each do |head| %>
			<li><%= link_to head.name, idea_branch_or_master_path(@idea, head.name) %></li>
		<% end %>
		<% if @edit %>
		<li><%= link_to "+", new_idea_branch_path(@idea) %></li>
		<% end %>
	</ul>
	<div class="clear"></div>
			
	<h2>History</h2>
	<ul>
	<% @idea.repository.commits(@branch).each_with_index do |commit, i| %>
		<% v_num = @idea.num_commits(@branch) - i %>
		<li><%= v_num %> <%= link_to commit.message, link_to_version(@idea, @branch, v_num) %></li>
	<% end %>
	</ul>
	
	<h2>Settings</h2>
	
	<% if @edit %>
	<div id="access_control" data-idea-id="<%= @idea.id %>">
		<div class="access_box <% if @idea.private? %>active<% end %>" id="access0">
			<% if @idea.public? %><a href="#">Private</a><% else %>Private<% end %>
		</div>	
		<div class="access_box <% if @idea.public? %>active<% end %>" id="access1">
			<% if @idea.private? %><a href="#">Public</a><% else %>Public<% end %>
		</div>
		<div class="clear"></div>
	</div>
	<% end %>
	
	<% if @edit %>
	<%= link_to (@idea.collaborations.count > 1 ? "Edit collaborators" : "Add collaborators to idea"), idea_collaborations_path(@idea), :class => "sidebar_link background_color3" %>
	<% end %>
	
		<!-- <div id="drop_box">
					<div id="placeholder">Drop Idea Items Here</div>
				</div> -->
		
		<%= link_to("Delete idea", idea_path(@idea), :method => :delete, :confirm => "Are you sure you want to delete the idea? This will delete all branches!", :class => "sidebar_link font_color1") if @idea.is_owner? @current_user %>
	
</div>
<div class="clear"></div>
	
	
