<div class="grid_8">
	
	<h1><%= @idea.name %></h1>
	
	<%= (@repo.commits.first.tree/'mytext.txt').data %><br /><br />
	
	<% links = @repo.commits.first.tree/'links.json' %>
	<% links = JSON.parse(links.data) %>
	<% for link in links %>
		Link: <%= link %><br />
	<% end %>
	
</div>
<div class="grid_4">
	
	<p><%= link_to "Create a new version / edit", edit_idea_path, :class => "link_button" %></p>
	
	<p>Num commits: <%= @repo.commits.count %></p>
	
	<p>Parents: <%= @repo.commits.first.parents.inspect %></p>
	<p>Log: <%= @repo.log %></p>
</div>
<dic class="clear"></div>