<div class="grid_8">
	
	<h1><%= @idea.name %></h1>
	
	<%= @description %> <br /><br />
	
	<% unless @links.nil? %>
		<ul>
		<% for link in @links %>
			<li><%= link %></li>
		<% end %>
		</ul>
	<% end %>
	
</div>
<div class="grid_4">
	
	<p><%= link_to "Create a new version / edit", edit_idea_path, :class => "link_button" %></p>
	
	<p>Num commits: <%= @repo.commits.count %></p>
	
	<p>Parents: <%= @repo.commits.first.parents.inspect %></p>
	<p>Log: <%= @repo.log %></p>
</div>
<dic class="clear"></div>