<div class="grid_8">
	
	<h1><%= @idea.name %></h1>
	
	<% @idea.version(@version).each_with_index do |content, i| %>
		<% if i == 0 %>
			<%= render :partial => "texts/description", :locals => {:text => content} %>
		<% else %>
			<%= render content %>
		<% end %>
	<% end %>
	
</div>
<div class="grid_4">
	
	<% num_commits = @idea.num_commits %>
	
	<p>Versions: <%= num_commits %></p>
	<ul>
	<% @idea.repository.commits.each_with_index do |commit, i| %>
		<% num = num_commits - i %>
		<li><%= link_to num_commits - i, show_version_path(@idea, num_commits - i) %></li>
	<% end %>
	</ul>
	
</div>
<dic class="clear"></div>