<div class="grid_10">
	<h1><%= @idea.name %></h1>
	
</div>
<div class="grid_2">
	<p>Versions: <%= @idea.num_commits %></p>
</div>
<div class="clear"></div>
<div class="grid_12 dotted_line_small"></div>

<div class="grid_8">

	<% @idea.version(@version).each_with_index do |content, i| %>
		
		<% if i == 0 %>
			<%= render :partial => "texts/description", :locals => {:text => content, :edit => @edit} %>
			
			<% if @edit %>
			<div id="media_box">
				<ul>
					<li><%= link_to "Insert Link", new_idea_link_path(@idea)%></li>
					<li><%= link_to "Insert Text", new_idea_text_path(@idea)%></li>
					<li><%= link_to "Upload Image", new_idea_image_path(@idea) %></li>
				</ul>
				<div class="clear"></div>
			</div>
			<% end %>
		<% else %>
			<%= render :partial => content.class.name.pluralize + "/" + content.class.name.downcase, 
									:locals => { content.class.name.downcase.to_sym => content, :edit => @edit} %>
		<% end %>
	<% end %>
	
</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_3">

	<% @idea.repository.commits.each_with_index do |commit, i| %>
		<%
			v_num = @idea.num_commits - i
		%>
		<% if i == 0 %>
			<%= link_to v_num, idea_path(@idea), :class => "version_box color#{v_num % 9}" %>
		<% else %>
			<%= link_to v_num, show_version_path(@idea, v_num), :class => "version_box color#{v_num % 9}" %>
		<% end %>
	<% end %>
	
</div>
<dic class="clear"></div>