<div class="idea_item item_link">
	<div class="grid_8 alpha">
		<div class="idea_item_icon_container">
			
			<% 
				locals = {:idea_id => @idea.id, 
									:item_id => link.id, 
									:item_type => "link",
									:color => 4}
				
				if edit
					locals[:edit_path] = edit_idea_branch_link_path(@idea, @branch_num, link)
					locals[:drag] = true
				end
			%>
			
			<%= render :partial => "ideas/editbox", :locals => locals %>
		
		</div>
		<div class="idea_item_main">
			<% if link.file_extension == ".jpg" || link.file_extension == ".gif" || link.file_extension == ".png" %>
				<%= image_tag link.url %>
			<% elsif link.vimeo?%>
				<iframe src="http://player.vimeo.com/video/<%= link.vimeo_video_id %>?title=0&amp;byline=0&amp;portrait=0&amp;color=6a7a92" width="570" height="321" frameborder="0"></iframe>
			<% elsif link.youtube?%>
				<iframe title="YouTube video player" width="570" height="458" src="http://www.youtube.com/embed/<%= link.youtube_video_id %>?rel=0" frameborder="0" allowfullscreen></iframe>
			<% else %>
				<%= link_to link.url, link.url, :target => "_blank" %>
			<% end %>
			<% unless link.notes.nil? %>
				<div class="link_notes">
					<%= h(link.notes).gsub(/\n/, '<br/>') %>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="grid_1 omega">
		
	</div>
	<div class="clear"></div>
</div>