<div class="grid_1">&nbsp;</div>
<div class="grid_5">
	
	<img src="/images/logo_beta.jpg" alt="Versionize" id="front_logo">
	
	<p id="front_text">Accounts are currently available by invite only.</p>
	
	<% form_for @user_session, :url => {:action => "create"} do |f| %>
	
	  <%= f.text_field :email, :class => "front_input", :value => "Email", 	
						:onFocus => "if(this.value==this.defaultValue) this.value='';", 
						:onBlur => "if(this.value=='') this.value=this.defaultValue;" %><br />
	
	  <%= f.password_field :password, :class => "front_input front_input_password", :value => "Password",
						:onFocus => "if(this.value==this.defaultValue) this.value='';", 
						:onBlur => "if(this.value=='') this.value=this.defaultValue;" %><br />
	  
		<%= f.check_box :remember_me, :class => "front_input_remember" %><%= f.label :remember_me, :class => "input_remember_label" %>
		<%= f.submit "Login", :class => "input_submit" %>
		<%= link_to "Have an invite code?", new_user_path, :id => "new_user_link" %>
		<div class="clear"></div>
	<% end %>
	
</div>
	
<div class="grid_6" id="front_boxes">
	
</div>
<div class="clear"></div>

