<!DOCTYPE html>
<html>
<head>
	<title>Versionize - Manage and share your ideas</title>
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag :all %>
  	<%= csrf_meta_tag %>
	<meta name="description" content="Versionize is a website for creating and sharing ideas. You can use it as a personal tool to write down hunches and create new versions of these hunches until they form a structured idea. You can also make these ideas public, so everyone else can participate." />
	<meta name="keywords" content="ideas, manage, share, creativity, version control, hunches, social" />

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-4524292-15']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>
	
	<% if flash[:notice]%>
	<div id="notice">
		<%= flash[:notice] %>
	</div>
	<% end %>
	
	<% if flash[:error]%>
	<div id="error">
		<%= flash[:error] %>
	</div>
	<% end %>
	
	<div class="container_12">
		
		<div class="grid_12" id="header">
			<div id="logo"><a href="/"><img src="/images/logo_beta_small.jpg"></a></div>
			<div id="contact_message">Please send feature ideas, bugs or frustrations to <a href="mailto:hello@versionize.com">hello@versionize.com.</a>
				You have <strong><%= link_to @current_user.invites_left, user_invites_path(@current_user) %></strong> invites left	
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<%= yield %>
	</div>

</body>
</html>
